.tittleWDl {
  width: 700px;
  height: 60px;
  left: 126.5vw;
  top: 25px;
  z-index: 1400;
  position: absolute;
}
.berlinD {
  height: 350px;
  width: 200px;
  left: 115vw;
  top: 110px;
  z-index: 1200;
  position: absolute;
  opacity: 1;
  pointer-events: none;
  /* animation: opacityW; */
}

.berlinS {
  height: 350px;
  width: 200px;
  left: 115vw;
  top: 110px;
  z-index: 900;
  position: absolute;
}
.madridD {
  height: 350px;
  width: 205px;
  left: 145vw;
  top: 110px;
  z-index: 1200;
  position: absolute;
  opacity: 1;
  pointer-events: none;
}

.madridS {
  height: 350px;
  width: 200px;
  left: 145vw;
  top: 110px;
  z-index: 900;
  position: absolute;
}
.tenerifeD {
  height: 580px;
  width: 200px;
  left: 175vw;
  top: 110px;
  z-index: 1200;
  position: absolute;
  opacity: 1;
  pointer-events: none;
}
.tenerifeS {
  height: 350px;
  width: 200px;
  left: 175vw;
  top: 110px;
  z-index: 900;
  position: absolute;
}

@keyframes opacityW {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.25;
  }
  99.999% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
  }
}
.minititleB {
  height: 35px;
  width: 120px;
  left: 118vw;
  top: 350px;
  z-index: 1000;
  position: absolute;
}
.minititleM {
  height: 35px;
  width: 120px;
  left: 148vw;
  top: 350px;
  z-index: 1000;
  position: absolute;
}
.minititleT {
  height: 35px;
  width: 140px;
  left: 177vw;
  top: 350px;
  z-index: 1000;
  position: absolute;
}
.botonB {
  height: 35px;
  width: 90px;
  left: 119.3vw;
  top: 400px;
  z-index: 1000;
  position: absolute;
}
.botonM {
  height: 35px;
  width: 90px;
  left: 149.3vw;
  top: 400px;
  z-index: 1000;
  position: absolute;
}
.botonT {
  height: 35px;
  width: 90px;
  left: 179.3vw;
  top: 400px;
  z-index: 1000;
  position: absolute;
}
