.berlinD {
  height: 350px;
  width: 200px;
  left: 115vw;
  top: 110px;
  z-index: 1000;
  position: absolute;
  opacity: 1;
  /* animation: opacityW; */
}

.berlinS {
  height: 350px;
  width: 200px;
  left: 115vw;
  top: 110px;
  z-index: 900;
  position: absolute;
}
.madridD {
  height: 350px;
  width: 205px;
  left: 145vw;
  top: 110px;
  z-index: 1000;
  position: absolute;
  opacity: 1;
}

.madridS {
  height: 350px;
  width: 200px;
  left: 145vw;
  top: 110px;
  z-index: 900;
  position: absolute;
}
.tenerifeD {
  height: 580px;
  width: 200px;
  left: 175vw;
  top: 110px;
  z-index: 1000;
  position: absolute;
  opacity: 1;
}
.tenerifeS {
  height: 350px;
  width: 200px;
  left: 175vw;
  top: 110px;
  z-index: 900;
  position: absolute;
}

@keyframes opacityW {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.25;
  }
  99.999% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
  }
}
