.AboutSize {
  width: 400px;
  height: 70px;
  z-index: 1000;
  position: absolute;
  left: 36vw;
  top: 70px;
}
.squareSize {
  width: 600px;
  height: 270px;
  z-index: 1000;
  position: absolute;
  left: 43vw;
  top: 195px;
}
.photoSize {
  width: 170px;
  height: 220px;
  z-index: 1000;
  position: absolute;
  left: 37vw;
  top: 195px;
}
#wellcomed1 {
  text-transform: uppercase;
  font-size: 1.3em;
  color: black;
}
#containerX {
  width: 480px;
  height: 250px;
  z-index: 1300;
  position: absolute;
  left: 48vw;
  top: 245px;
  font-family: "Press Start 2P";
  font-size: 0.7em;
  color: rgb(94, 94, 94);
  line-height: 130%;
}
#containerZ {
  width: 410px;
  height: 250px;
  z-index: 1300;
  position: absolute;
  opacity: 1;
  left: 52vw;
  top: 405px;
  font-family: "Press Start 2P";
  font-size: 1.2em;
  color: #ffbbcc;
  animation-name: transV;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: alternate;
  transition-timing-function: ease;
  animation-iteration-count: infinite;
}
#containerW {
  width: 410px;
  height: 250px;
  z-index: 1200;
  position: absolute;
  left: 52vw;
  top: 405px;
  font-family: "Press Start 2P";
  font-size: 1.2em;
  color: #be97dc;
}

@keyframes transV {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
