.photoDtailDiv2 {
  /* display: block; */
  width: 300px;
  height: 370px;
  margin-top: 60px;
  margin-left: 90px;
}
.comicDtl {
  /* display: block; */
  width: 900px;
  height: 270px;
  margin-top: 63px;
  margin-left: 360px;
  z-index: 1000;
  position: absolute;
}
.cotaineeer {
  display: flex;
}

.contactButtonMap {
  display: block;
  width: 360px;
  height: 60px;
  justify-content: space-between;
  margin-right: 35px;
  margin-top: -25px;
  margin-bottom: 35px;
}
.cotaineeerZ {
  display: flex;
  margin-left: 150px;
  margin-bottom: 35px;
}
.helloDear {
  z-index: 100000;
  position: absolute;
  font-family: "Press Start 2P";
  font-size: 2.5em;
  color: blue;
  margin-top: 110px;
  margin-left: 600px;
}
.wellcomeMSM {
  z-index: 100000;
  position: absolute;
  font-family: "Press Start 2P";
  font-size: 0.8em;
  color: #c3081b;
  margin-top: 160.5px;
  width: 620px;
  margin-left: 590px;
  line-height: 130%;
}
